@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
a {
  color: #bfdbf7;
  text-decoration: none;
}
header {
  font-size: 30px;
  padding: 10px;
  background-color: #053c5e;
  color: #bfdbf7;
}
main {
  background-color: #bfdbf7;
  min-height: 95vh;
  padding: 20px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 45px;
    font-weight: 800;
    color: #555;
    margin: 5px;
  }
  .create-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #053c5e;
    color: #bfdbf7;
    border: none;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.4);
  }
}
.list-element {
  display: flex;
  padding: 10px 20px;
  width: 80vw;
  background-color: #555;
  color: #bfdbf7;
  text-decoration: none;
  border-radius: 10px;
  margin-bottom: 10px;
  .buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 10px;
    button {
      background: #bfdbf7;
      border: none;
      cursor: pointer;
      border-radius: 30%;
      display: flex;
      padding: 10px;
      color: #555;
      font-size: 25px;
    }
  }
}

@media (min-width: 1024px) {
  .list {
    font-size: 30px;
  }
  .title {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 1024px) {
  .list {
    font-size: 35px;
  }
  .title {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2vh;
  }
}

///INDEX FILE
.welcome-page {
  height: 100vh;
  overflow: hidden;
  padding: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bfdbf7;
  color: #053c5e;
  img {
    transform: scale(1.2);
  }
  .title {
    font-size: 80px;
  }
}
///767px
